@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/footer.css");
@import url("./components/header.css");

body {
    margin: 0;
    font-family: Perpetua, Arial, sans-serif;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #00321f;
}

main{
    color: rgb(255, 230, 0);
    -webkit-text-stroke-width: 1px;
    border: 20px solid firebrick;

    font-size: 2em;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    background-image: url("../img/alee.jpg");
    background-size: cover;
    background-position: center;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
